body {
	margin: 0;
	color: white;
	font-family: sans-serif, 'Monocraft', 'Courier New', monospace;
	background-color: #131313;

	background-image: url(assets/GFX/Background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

p {
	color: white;
	text-shadow: 1px 1px black;
}

button {
	cursor: pointer;
	color: white;
	font-family: 'Monocraft', 'Courier New', monospace;
	border: 3px solid #005D70;
	background-color: #131313;
	transition-duration: 200ms;
	font-size: 110%;
	padding: 0.4em;

	width: 100%;
	max-width: 12em;
}

button:hover {
	border-color: #05A38B;
}

input {
	color: white;
	font-family: 'Monocraft', 'Courier New', monospace;
	border: 3px solid #005D70;
	background-color: #131313;
	font-size: 110%;
	padding: 0.4em;

	width: 100%;
	max-width: 12em;
	box-sizing: border-box;
}

#sidebar {
	position: fixed;
	top: 0;

	height: 100%;
	width: 17.5em;
	border-right: 3px solid #005D70;

	background-color: #212224;
	text-align: center;

	visibility: hidden;
}

#sidebar-content {
	margin-top: 2.5em;
	padding: 0 1.5em;
}

#gameplay-holder {
	text-align: center;

	margin: 2.5em;
	margin-left: 2.5em;

	transition-duration: 200ms;
}

#gameplay-content {
	max-width: 56em;
	margin: 0 auto;
}

#title-image {
	width: 100%;
	max-width: 100%;
}

.dialogue-option {
	cursor: pointer;
	font-style: italic;
	
	color: grey;
	transition-duration: 250ms;
}

.dialogue-option:hover {
	color: #005D70;
}

.dialogue-option:active {
	color: #05A38B;
}

/* --- Random Shit --- */

.zero-margin {
	margin: 0;
}

.not-selectable {
	user-select: none;
}

/* --- Fonts --- */

@font-face {
	font-family: 'Monocraft';
	src: url(assets/fonts/Monocraft.woff2) format('woff2');
}