:root {
	--color-gray:#131313;
	--color-lighter-gray:#212224;
	--color-blue:#005D70;
	--color-lighter-blue:#009EC1;
	--color-light-blue:#05A38B;
	--color-link:#5888DD;
	--color-link-hover:#88AAFF;
}

body {
	margin: 0;
	color: white;
	font-family: sans-serif, 'Monocraft', 'Courier New', monospace;
	background-color: var(--color-gray);

	background-image: url(assets/GFX/Background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

p {
	color: white;
	text-shadow: 1px 1px black;
}

button {
	cursor: pointer;
	color: white;
	font-family: 'Monocraft', 'Courier New', monospace;
	border: 3px solid var(--color-blue);
	background-color: var(--color-gray);
	transition-duration: 200ms;
	font-size: 110%;
	padding: 0.4em;

	width: 100%;
	max-width: 12em;
}

button:hover {
	border-color: var(--color-light-blue);
}

input {
	color: white;
	font-family: 'Monocraft', 'Courier New', monospace;
	border: 3px solid var(--color-blue);
	background-color: var(--color-gray);
	font-size: 110%;
	padding: 0.4em;

	width: 100%;
	max-width: 12em;
	box-sizing: border-box;
}

#sidebar {
	position: fixed;
	top: 0;

	height: 100%;
	width: 17.5em;
	border-right: 3px solid var(--color-lighter-blue);

	background-color: var(--color-lighter-gray);
	text-align: center;

	visibility: hidden;
}

#sidebar-content {
	margin-top: 2.5em;
	padding: 0 1.5em;
}

#gameplay-holder {
	text-align: center;

	margin: 2.5em;
	margin-left: 2.5em;
}

#gameplay-holder h1 {
	text-align: center;
}

#gameplay-content {
	max-width: 56em;
	margin: 0 auto;
}

#title-image {
	width: 100%;
	max-width: 100%;
}

.dialogue-option {
	cursor: pointer;
	font-style: italic;
	
	color: var(--color-link);
	transition-duration: 250ms;
}

.dialogue-option:hover {
	color: var(--color-link-hover);
}

/* --- Random Shit --- */

.zero-margin {
	margin: 0;
}

.not-selectable {
	user-select: none;
}

/* --- Fonts --- */

@font-face {
	font-family: 'Monocraft';
	src: url(assets/fonts/Monocraft.woff2) format('woff2');
}